.snap-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .snap-header-wrap {
    height: auto;

    .snap-header-title {
      color: #fff;
      text-align: center;
      height: auto;
    }

    .snap-header-text {
      color: #fff;
      text-align: center;
      height: auto;
    }
  }
}
