@font-face {
  font-family: Literata; /*a name to be used later*/
  src: url("../fonts/Literata/Literata-VariableFont_opsz,wght.ttf"); /*URL to font*/
}
*,
body {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  font-size: 14px;
  color: #6f6f6f;
  box-sizing: border-box;
  line-height: 1.5em;
  font-family: Literata;
}

.snap-body {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}

body {
  background-color: #fff;
  transition: 0.3s ease-in-out all;
}

input,
textarea {
  border-bottom: 1px solid #9f9f9f;
  padding: 10px 15px;
  transition: 0.3s ease-in-out all;
  background: transparent;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

a {
  display: inline-block;
  color: inherit;
  text-transform: none;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 35px;
  font-weight: 800;
  color: #292929;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #292929;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #292929;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 200;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-align-center {
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .grid {
    padding: 0 15px;
    max-width: 100%;
  }
}
.pa-10 {
  padding: 10px;
}

.px-10 {
  padding: 0 10px;
}

.py-10 {
  padding: 10px 0;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.w-30 {
  width: 30% !important;
}

.w-60 {
  width: 60% !important;
}

.transition {
  transition: 0.3s ease-in-out all;
}

.clickable {
  cursor: pointer;
}

.main-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  z-index: 10;
  transition: 0.3s ease-in-out all;
}
.main-fixed-header .main-menu {
  width: 200px;
  justify-content: space-around;
}
.main-fixed-header .main-menu .main-menu-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-fixed-header .main-menu .main-menu-item span,
.main-fixed-header .main-menu .main-menu-item i {
  color: #fff;
  text-shadow: 1px 1px 3px #333;
  font-size: 25px;
  line-height: 35px;
  transition: 0.3s ease-in-out all;
}
.main-fixed-header .main-menu .main-menu-item i {
  padding-top: 5px;
}
.main-fixed-header .main-menu .main-menu-item .contact-open:hover,
.main-fixed-header .main-menu .main-menu-item i:hover {
  color: var(--primary-color);
  text-shadow: 1px 1px 3px #fff;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.main-container #background-video-monitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  filter: brightness(0.8);
  transition: 0.3s ease-in-out all;
}
.main-container #background-video-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  filter: brightness(0.8);
}
.main-container .main-inner-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.3s ease-in-out all;
  margin: 0 auto;
}
.main-container .main-inner-container .main-title {
  position: absolute;
  cursor: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: #fff;
  text-shadow: 2px 2px 4px #333;
}
.main-container .main-inner-container .menu-btn-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translateY(100px);
}
.main-container .main-inner-container .menu-btn-wrap .menu-btn-container {
  width: 150px;
  height: 150px;
}
.main-container .main-inner-container .menu-btn-wrap .menu-btn-container h2 {
  color: #fff;
  text-shadow: 2px 2px 4px #787878;
  cursor: pointer;
}
.main-container .main-inner-container .menu-btn-wrap .menu-btn-container h2:hover {
  color: var(--primary-color);
  text-shadow: 2px 2px 4px #787878;
}

.about-container {
  width: 100vw;
  height: 100%;
  display: flex;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.modal-container {
  display: flex;
  opacity: 0;
  position: fixed;
  top: 100%;
  left: 50%;
  z-index: -1;
  width: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out all;
  margin: 0 auto;
}
.modal-container .close-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 18;
}
.modal-container .modal-inner-container {
  width: calc(100% - 50px);
  height: calc(100% - 100px);
  background-color: #fff;
  border-radius: 15px;
  z-index: 20;
  position: relative;
}
.modal-container .modal-inner-container .close-modal-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 22;
  filter: brightness(1);
  background-color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.modal-container .modal-inner-container .close-modal-btn i {
  color: #34dfdf;
  font-size: 25px;
  transition: 0.3s ease-in-out all;
}
.modal-container .modal-inner-container .close-modal-btn i:hover {
  color: var(--primary-color);
}

.snap-modal-container {
  width: 100%;
  padding: 50px 0;
}
.snap-modal-container .snap-gallery {
  padding: 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  overflow-y: scroll;
}
.snap-modal-container .snap-gallery .snap-photo-wrap-horizontal {
  display: flex;
  width: 100%;
  gap: 10px;
}
.snap-modal-container .snap-gallery .snap-photo-wrap-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.snap-modal-container .snap-gallery .img-container-portrait,
.snap-modal-container .snap-gallery .img-container-landscape {
  width: 100%;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.snap-modal-container .snap-gallery .snap_photo_1,
.snap-modal-container .snap-gallery .snap_photo_9 {
  width: 70%;
}
.snap-modal-container .snap-gallery .snap_photo_6 {
  width: 40%;
}
.snap-modal-container .snap-gallery .img-container-portrait > div {
  padding-top: 133.26%;
}
.snap-modal-container .snap-gallery .img-container-landscape > div {
  padding-top: 75.09%;
}
.snap-modal-container .snap-gallery .snap-title,
.snap-modal-container .snap-gallery .snap-sub-title {
  font-size: 60px;
}
.snap-modal-container .snap-gallery .snap-text,
.snap-modal-container .snap-gallery .snap-sub-text {
  font-size: 30px;
}
.snap-modal-container .snap-gallery .snap-title,
.snap-modal-container .snap-gallery .snap-text {
  text-align: right;
}
.snap-modal-container .snap-gallery .snap-sub-title,
.snap-modal-container .snap-gallery .snap-sub-text {
  text-align: left;
}

.wedding-modal-container {
  width: 100%;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wedding-modal-container .wedding-gallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wedding-modal-container .wedding-gallery .gallery-item-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.wedding-modal-container .wedding-gallery .gallery-item-wrap > div {
  width: 50%;
}
.wedding-modal-container .wedding-gallery .gallery-item-wrap .img-container {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wedding-modal-container .wedding-gallery .gallery-item-wrap .img-container > div {
  padding-top: 133.26%;
}
.wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap h2,
.wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap h3,
.wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap p {
  padding-bottom: 15px;
}
.wedding-modal-container .wedding-gallery .pagination .dots {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #9f9f9f;
}

.video-modal-container {
  background-color: #000;
}
.video-modal-container #video-modal-player {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.package-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px;
}
.package-modal-container .package-inner-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.package-modal-container .package-inner-container .package-title {
  text-align: center;
  padding-bottom: 50px;
}
.package-modal-container .package-inner-container .package-type-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.package-modal-container .package-inner-container .package-type-wrap .package-item {
  min-height: 500px;
  border-radius: 15px;
  width: 30%;
  min-width: 200px;
  border: 1px solid #9898ff;
  box-shadow: 2px 2px 3px #6f6f6f;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.package-modal-container .package-inner-container .package-type-wrap .package-item .img-container {
  width: 150px;
  border-radius: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.package-modal-container .package-inner-container .package-type-wrap .package-item .img-container > div {
  padding-top: 100%;
}
.package-modal-container .package-inner-container .package-type-wrap .package-item h3 {
  padding-top: 50px;
}
.package-modal-container .package-inner-container .package-type-wrap .package-item h3,
.package-modal-container .package-inner-container .package-type-wrap .package-item p {
  text-align: center;
}

.open {
  display: flex;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 15;
  width: 100%;
}

.modal-active {
  background-color: #000;
}
.modal-active .main-fixed-header {
  opacity: 0;
}
.modal-active .main-container #background-video-monitor {
  filter: brightness(0.2);
}
.modal-active .main-container .main-inner-container {
  max-width: 90%;
  padding-top: 100px;
}
.modal-active .about-container {
  display: none;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .main-fixed-header {
    padding: 0 20px;
    height: 50px;
  }
  .main-fixed-header .main-menu {
    width: 100px;
    gap: 10px;
  }
  .main-fixed-header .main-menu .main-menu-item span,
  .main-fixed-header .main-menu .main-menu-item i {
    font-size: 16px;
    line-height: 28px;
  }
  .main-fixed-header .main-menu .main-menu-item i {
    padding-top: 5px;
  }
  .main-container .main-inner-container {
    height: calc(100vh - 80px);
  }
  .main-container .main-inner-container .main-title {
    font-size: 28px;
    transform: translate(-50%, -50%);
  }
  .main-container .main-inner-container .menu-btn-wrap {
    gap: 15px;
    justify-content: center;
    transform: none;
    position: absolute;
    bottom: 30px;
    padding: 0 15px;
  }
  .main-container .main-inner-container .menu-btn-wrap .menu-btn-container {
    height: auto;
  }
  .main-container .main-inner-container .menu-btn-wrap .menu-btn-container h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .modal-container .modal-inner-container {
    width: 100%;
    height: 100%;
  }
  .modal-container .modal-inner-container .close-modal-btn {
    top: 15px;
  }
  .modal-container .modal-inner-container .close-modal-btn i {
    color: #34dfdf;
    font-size: 25px;
    transition: 0.3s ease-in-out all;
  }
  .modal-container .modal-inner-container .close-modal-btn i:hover {
    color: var(--primary-color);
  }
  .snap-modal-container {
    padding: 50px 0;
  }
  .snap-modal-container .snap-gallery {
    padding: 0 15px;
  }
  .snap-modal-container .snap-gallery .snap-title,
  .snap-modal-container .snap-gallery .snap-sub-title {
    font-size: 25px;
  }
  .snap-modal-container .snap-gallery .snap-text,
  .snap-modal-container .snap-gallery .snap-sub-text {
    font-size: 20px;
  }
  .snap-modal-container .snap-gallery .snap-title,
  .snap-modal-container .snap-gallery .snap-text {
    text-align: right;
  }
  .snap-modal-container .snap-gallery .snap-sub-title,
  .snap-modal-container .snap-gallery .snap-sub-text {
    text-align: left;
  }
  .wedding-modal-container {
    padding: 50px 15px;
  }
  .wedding-modal-container .wedding-gallery {
    height: 100%;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap > div {
    width: 90%;
    margin: 0 auto;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .img-container {
    width: 80%;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .img-container > div {
    padding-top: 133.26%;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 0px;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap h3 {
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap p {
    text-align: center;
  }
  .package-modal-container {
    padding: 50px 15px;
  }
  .package-modal-container .package-inner-container .package-type-wrap {
    flex-direction: column;
    justify-content: center;
  }
  .package-modal-container .package-inner-container .package-type-wrap .package-item {
    min-height: 200px;
    width: 100%;
    min-width: 200px;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .package-modal-container .package-inner-container .package-type-wrap .package-item .img-container {
    width: 150px;
    border-radius: 100%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .package-modal-container .package-inner-container .package-type-wrap .package-item .img-container > div {
    padding-top: 100%;
  }
  .package-modal-container .package-inner-container .package-type-wrap .package-item .package-text-wrap {
    width: 100%;
  }
  .package-modal-container .package-inner-container .package-type-wrap .package-item .package-text-wrap h3,
  .package-modal-container .package-inner-container .package-type-wrap .package-item .package-text-wrap p {
    text-align: left;
  }
  .package-modal-container .package-inner-container .package-type-wrap .package-item .package-text-wrap h3 {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap h2 {
    text-align: left;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap h3 {
    text-align: left;
  }
  .wedding-modal-container .wedding-gallery .gallery-item-wrap .wedding-text-wrap p {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */