@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Bebas-Neue; /*a name to be used later*/
  src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf"); /*URL to font*/
}
*,
body {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  font-size: 14px;
  color: #6f6f6f;
  box-sizing: border-box;
  line-height: 1.5em;
  font-family: Bebas-Neue;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
}

a {
  display: inline-block !important;
  color: inherit !important;
  text-decoration: none !important;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #000;
  transition: 0.3s ease-in-out all;
}

h1 {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 3px;
}

h2 {
  font-size: 24px !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

#header {
  z-index: 10;
}

.home-btn {
  display: block;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  width: auto;
  height: auto;
  text-transform: none;
  text-decoration: none;
}

.home-btn:hover {
  color: #6f6f6f;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 0.2s ease-out all;
  z-index: 10;
}
.container .main-lens-img {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out all;
  background-image: url("../images/lens-490806_1280.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.1);
}
.container .main-btn-wrap {
  width: 200px;
  height: 80px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-out all;
  color: #fff;
}
.container .main-btn-wrap .main-btn {
  color: inherit;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main-btn-wrap:hover {
  color: #6f6f6f;
}

.link-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.link-container .link {
  opacity: 0;
  width: 20%;
  height: 100%;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: #fff;
}
.link-container .link .link-title {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  transition: 0.3s ease-in-out all;
}
.link-container .link .link-title a {
  font-size: 30px;
  color: #fff;
  transition: 0.3s ease-in-out all;
}
.link-container .link:hover {
  width: 30%;
}
.link-container .link:hover .link-title a {
  font-size: 28px;
}
.link-container .snap-link {
  background-color: aqua;
  margin-bottom: 200px;
  background-image: url("../images/Snap/Main_JAX02092.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .wedding-link {
  background-color: blue;
  margin-bottom: -200px;
  background-image: url("../images/WeddingPhoto/Main_couple_091.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .engagement-link {
  background-color: yellow;
  margin-bottom: 200px;
  background-image: url("../images/Engagement/Main_JAX05478.jpg");
  background-position: right;
  background-size: cover;
}
.link-container .maternity-link {
  background-color: gray;
  margin-bottom: -200px;
  background-image: url("../images/Maternity/Main_YM_03087.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .baby-link {
  background-color: wheat;
  margin-bottom: -200px;
  background-image: url("../images/Baby/Main_YM_07303.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .link-container {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s ease-in-out all;
}
.link-container .link-container:hover {
  filter: brightness(0.6);
}

.wedding-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.wedding-container .wedding-links-wrap {
  width: 50%;
  height: 100%;
  transition: 0.3s ease-in-out all;
}
.wedding-container .wedding-links-wrap h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}
.wedding-container .wedding-links-wrap h2 a {
  font-size: 30px;
  transition: 0.3s ease-in-out all;
  color: white;
}
.wedding-container .wedding-links-wrap .wedding-photo-link {
  background-image: url("../images/WeddingPhoto/InMain_Ceremony_124.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out all;
}
.wedding-container .wedding-links-wrap .wedding-photo-link:hover {
  filter: brightness(0.6);
}
.wedding-container .wedding-links-wrap .wedding-video-link {
  background-image: url("../images/WeddingVideo/WonRick_Shortver.mp4");
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out all;
}
.wedding-container .wedding-links-wrap .wedding-video-link:hover {
  filter: brightness(0.6);
}
.wedding-container .wedding-links-wrap:hover {
  width: 65%;
}
.wedding-container .wedding-links-wrap:hover h2 a {
  font-size: 50px;
}

.snap-header-container {
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #333;
}

.snap-main-row {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}
.snap-main-row .img-container {
  width: 33.3333%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.space-two-hundred {
  height: 100px;
  width: 100%;
}

.snap-photos-row {
  width: 100%;
  height: 60%;
  display: flex;
  overflow: hidden;
}
.snap-photos-row .img-container {
  width: 25%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.snap-photo-full-row {
  width: 100%;
  height: 80%;
}
.snap-photo-full-row .img-container {
  width: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.baby-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.baby-header-container .baby-header-wrap {
  height: auto;
}
.baby-header-container .baby-header-wrap .baby-header-title {
  color: #fff;
  text-align: center;
  height: auto;
}
.baby-header-container .baby-header-wrap .baby-header-text {
  color: #fff;
  text-align: center;
  height: auto;
}

.baby-main-row {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}
.baby-main-row .img-container {
  width: 33.3333%;
  padding-top: 500px;
  background-size: cover;
  background-position: center;
}

.baby-photos-row {
  width: 100%;
  max-height: 60%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.baby-photos-row .img-container {
  width: 25%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.maternity {
  width: 100%;
  height: 80%;
}
.maternity .img-container {
  width: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.maternity-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.maternity-header-container .maternity-header-wrap {
  height: auto;
}
.maternity-header-container .maternity-header-wrap .maternity-header-title {
  color: #fff;
  text-align: center;
  height: auto;
}
.maternity-header-container .maternity-header-wrap .maternity-header-text {
  color: #fff;
  text-align: center;
  height: auto;
}

.maternity-main-row {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.maternity-main-row .img-container {
  width: 33.3333%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.maternity-photos-row {
  width: 100%;
  max-height: 60%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.maternity-photos-row .img-container {
  width: 25%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.engagement-photo-full-row {
  width: 100%;
  height: 80%;
}
.engagement-photo-full-row .img-container {
  width: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.engagement-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.engagement-header-container .engagement-header-wrap {
  height: auto;
}
.engagement-header-container .engagement-header-wrap .engagement-header-title {
  color: #fff;
  text-align: center;
  height: auto;
}
.engagement-header-container .engagement-header-wrap .engagement-header-text {
  color: #fff;
  text-align: center;
  height: auto;
}

.engagement-main-row {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.engagement-main-row .img-container {
  width: 33.3333%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.engagement-photos-row {
  width: 100%;
  max-height: 60%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.engagement-photos-row .img-container {
  width: 25%;
  height: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.wedding-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: #333;
}
.wedding-header-container .wedding-header-wrap {
  height: auto;
}
.wedding-header-container .wedding-header-wrap .wedding-header-title {
  color: #fff;
  text-align: center;
  height: auto;
}
.wedding-header-container .wedding-header-wrap .wedding-header-text {
  color: #fff;
  text-align: center;
  height: auto;
}

.wedding-row-main {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.wedding-row-main .img-container {
  width: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.wedding-row {
  width: 100%;
  display: flex;
  height: 80%;
}
.wedding-row .img-container {
  width: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.wedding-main-row {
  width: 100%;
  display: flex;
  height: 80%;
}
.wedding-main-row .img-container {
  width: 33.3333%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}/*# sourceMappingURL=style.css.map */