@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Bebas-Neue; /*a name to be used later*/
  src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf"); /*URL to font*/
}
@font-face {
  font-family: DS-digital; /*a name to be used later*/
  src: url("../fonts/DS-digital/DS-DIGI.TTF"); /*URL to font*/
}
*,
body {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  font-size: 14px;
  color: #6f6f6f;
  box-sizing: border-box;
  line-height: 1.5em;
  font-family: Bebas-Neue;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
}

a {
  display: inline-block !important;
  color: inherit !important;
  text-decoration: none !important;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #000;
  transition: 0.3s ease-in-out all;
}

h1 {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 3px;
}

h2 {
  font-size: 24px !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

#header {
  z-index: 10;
}

.home-btn {
  display: block;
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  width: auto;
  height: auto;
  text-transform: none;
  text-decoration: none;
}

.home-btn:hover {
  color: #6f6f6f;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 0.2s ease-out all;
  z-index: 10;
}
.container .main-lens-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out all;
  background-image: url("../images/miruesnap_logo_b.png");
  background-size: 450px;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.1);
}
@media screen and (max-width: 1000px) {
  .container .main-lens-img {
    opacity: 1;
  }
}
.container .main-btn-wrap {
  width: 200px;
  height: 80px;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-out all;
  color: #fff;
}
.container .main-btn-wrap .main-btn {
  color: inherit;
  font-family: "DS-digital" !important;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .main-btn-wrap:hover {
  color: #6f6f6f;
}

.link-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.link-container .link {
  opacity: 0;
  width: 20%;
  height: 100%;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
  position: relative;
  text-align: center;
  color: #fff;
}
.link-container .link .link-title {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  transition: 0.3s ease-in-out all;
}
.link-container .link .link-title a {
  font-size: 30px;
  color: #fff;
  transition: 0.3s ease-in-out all;
}
.link-container .link:hover {
  width: 30%;
}
.link-container .link:hover .link-title a {
  font-size: 28px;
}
.link-container .snap-link {
  background-color: aqua;
  margin-bottom: 200px;
  background-image: url("../images/Snap/Main_JAX02092.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .wedding-link {
  background-color: blue;
  margin-bottom: -200px;
  background-image: url("../images/WeddingPhoto/Main_couple_091.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .engagement-link {
  background-color: yellow;
  margin-bottom: 200px;
  background-image: url("../images/Engagement/Main_JAX05478.jpg");
  background-position: right;
  background-size: cover;
}
.link-container .maternity-link {
  background-color: gray;
  margin-bottom: -200px;
  background-image: url("../images/Maternity/Main_YM_03087.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .baby-link {
  background-color: wheat;
  margin-bottom: -200px;
  background-image: url("../images/Baby/Main_YM_07303.jpg");
  background-position: center;
  background-size: cover;
}
.link-container .link-container {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s ease-in-out all;
}
.link-container .link-container:hover {
  filter: brightness(0.6);
}
.link-container .info-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  transition: 0.3s ease-in-out all;
  opacity: 0.6;
}
.link-container .info-container .info-btn-container {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}
.link-container .info-container .info-btn-container span > i {
  font-size: 25px;
}
.link-container .info-container .info-btn-container .info-up {
  display: inline;
}
.link-container .info-container .info-card {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "DS-digital";
  background-color: #fff;
  border-radius: 20px;
  padding: 0 20px 50px;
  width: 50%;
  min-width: 500px;
  height: 500px;
  transition: 0.5s ease-in-out all;
}
.link-container .info-container .info-card .info-card-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-container .info-container .info-card .info-card-inner div {
  width: 50%;
  height: auto;
}
.link-container .info-container .info-card .info-card-inner .info-logo-container > img {
  max-width: 100%;
}
.link-container .info-container .info-card .info-card-inner .info-description {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: column;
  height: 100%;
}
.link-container .info-container .info-card .info-card-inner .info-description .info-title {
  text-align: right;
  font-size: 30px;
  height: auto;
}
.link-container .info-container .info-card .info-card-inner .info-description .info-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-size: 26px;
  padding-top: 15px;
  height: auto;
}
.link-container .info-container .info-card .info-card-inner .info-description a {
  display: block;
  text-decoration: none;
  color: inherit !important;
  transition: 0.2s ease-in-out all;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.link-container .info-container .info-card .info-card-inner .info-description .info-text > a > i {
  font-size: 25px;
  transition: 0.2s ease-in-out all;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.link-container .info-container .info-card .info-card-inner .info-description .info-text > a :hover {
  font-size: 30px;
  color: #f8b996;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  .link-container {
    flex-direction: column;
    justify-content: center;
  }
  .link-container .link {
    width: 100%;
    height: 18%;
  }
  .link-container .link > a {
    margin-bottom: 0 !important;
    background-image: none !important;
    background-color: transparent;
  }
  .link-container .link > h2 {
    opacity: 1 !important;
    top: 50% !important;
  }
  .link-container .link:hover {
    width: 100%;
  }
  .link-container .link:hover .link-title a {
    display: block;
    font-size: 28px;
  }
}
.open-card .info-container {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  opacity: 1;
}
.open-card .info-container .info-close {
  background-color: #000;
  opacity: 0.6;
}
.open-card .info-container .info-card {
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
.open-card .info-container .info-card .info-btn-container {
  display: none;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  padding: 0 15px;
  background-color: #333;
}
.header-container .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
.header-container .header-wrap > h3 {
  width: -moz-fit-content;
  width: fit-content;
}
.header-container .header-wrap > h3 a {
  width: -moz-fit-content;
  width: fit-content;
}
.header-container .header-wrap > h3 a i {
  font-size: 20px;
  transition: 0.2s ease-in-out all;
}
.header-container .header-wrap > h3 a:hover i {
  color: #fff;
}
.header-container .header-wrap .header-title {
  color: #fff;
  text-align: center;
  height: auto;
}
.header-container .header-wrap .header-text {
  color: #fff;
  text-align: center;
  height: auto;
}
.header-container .header-wrap .menu-btn {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.header-container .header-wrap .menu-btn i {
  font-size: 25px;
  transition: 0.2s ease-in-out all;
}
.header-container .header-wrap .menu-btn:hover i {
  color: #fff;
}
.header-container .header-wrap .menu-bar {
  width: 0;
  position: absolute;
  bottom: 100%;
  right: 0;
  height: auto;
  background-color: #333;
  list-style: none;
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
.header-container .header-wrap .menu-bar .menu-item {
  height: auto;
}
.header-container .header-wrap .menu-bar .menu-item a,
.header-container .header-wrap .menu-bar .menu-item div {
  font-size: 25px;
  color: #fff !important;
  text-align: center;
  transition: 0.2s ease-in-out all;
}
.header-container .header-wrap .menu-bar .menu-item a:hover {
  color: #6f6f6f !important;
}

.menu-open .menu-bar {
  opacity: 1 !important;
  width: 200px !important;
  position: absolute !important;
  bottom: 100%;
  right: 0 !important;
  padding: 10px !important;
  z-index: 99 !important;
  height: auto !important;
  background-color: #333 !important;
  list-style: none !important;
}
.menu-open .menu-bar .menu-item {
  height: auto;
}
.menu-open .menu-bar .menu-item a,
.menu-open .menu-bar .menu-item div {
  cursor: pointer;
  font-size: 25px;
  width: 100%;
  color: #fff !important;
  text-align: center;
  transition: 0.2s ease-in-out all;
}
.menu-open .menu-bar .menu-item a:hover {
  color: #6f6f6f !important;
}
.menu-open .menu-bar .menu-item div:hover {
  color: #6f6f6f !important;
}

.snap-main-row {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}
.snap-main-row .img-container {
  width: 33.3333%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.wedding-row-main {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.wedding-row-main .img-container {
  width: 100%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.baby-main-row {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
}
.baby-main-row .img-container {
  width: 33.3333%;
  padding-top: 500px;
  background-size: cover;
  background-position: center;
}

.maternity-main-row {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.maternity-main-row .img-container {
  width: 33.3333%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.engagement-main-row {
  width: 100%;
  display: flex;
  height: calc(100% - 100px);
}
.engagement-main-row .img-container {
  width: 33.3333%;
  padding-top: 32.159%;
  background-size: cover;
  background-position: center;
}

.space-two-hundred {
  height: 100px;
  width: 100%;
}

.photos-row {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  transition: 0.2 ease-in-out all;
}
.photos-row .img-container {
  width: 25%;
  height: auto;
  padding-top: 33.333%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1000px) {
  .photos-row .img-container {
    width: 50%;
    padding-top: 66.66%;
  }
}
@media screen and (max-width: 500px) {
  .photos-row .img-container {
    width: 100%;
    padding-top: 123%;
  }
}

.photos-row-three {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  transition: 0.2 ease-in-out all;
}
.photos-row-three .img-container {
  width: 33.3333%;
  height: auto;
  padding-top: 40%;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 700px) {
  .photos-row-three .img-container {
    width: 100%;
    padding-top: 123%;
  }
}

.photo-full-row {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.photo-full-row .img-container {
  width: 100%;
  padding-top: 66.666%;
  background-size: cover;
  background-position: center;
}

.wedding-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.wedding-container .wedding-links-wrap {
  width: 50%;
  height: 100%;
  transition: 0.3s ease-in-out all;
}
.wedding-container .wedding-links-wrap h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}
.wedding-container .wedding-links-wrap h2 a {
  font-size: 30px;
  transition: 0.3s ease-in-out all;
  color: white;
}
.wedding-container .wedding-links-wrap .wedding-photo-link {
  background-image: url("../images/WeddingPhoto/InMain_Ceremony_124.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out all;
}
.wedding-container .wedding-links-wrap .wedding-photo-link:hover {
  filter: brightness(0.6);
}
.wedding-container .wedding-links-wrap .wedding-video-link {
  background-image: url("../images/WeddingVideo/WonRick_Shortver.mp4");
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out all;
}
.wedding-container .wedding-links-wrap .wedding-video-link:hover {
  filter: brightness(0.6);
}
.wedding-container .wedding-links-wrap:hover {
  width: 65%;
}
.wedding-container .wedding-links-wrap:hover h2 a {
  font-size: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100hv;
}
.overlay .info-container {
  position: absolute;
  top: 0;
  left: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100%;
  transition: 0.3s ease-in-out all;
  opacity: 1;
  height: 100vh;
}
.overlay .info-container .info-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "DS-digital";
  background-color: #fff;
  border-radius: 20px;
  padding: 0 20px 50px;
  width: 50%;
  min-width: 500px;
  height: 500px;
  transition: 0.5s ease-in-out all;
}
.overlay .info-container .info-card .info-card-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay .info-container .info-card .info-card-inner div {
  width: 50%;
  height: auto;
}
.overlay .info-container .info-card .info-card-inner .info-logo-container > img {
  max-width: 100%;
}
.overlay .info-container .info-card .info-card-inner .info-description {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: column;
  height: 100%;
}
.overlay .info-container .info-card .info-card-inner .info-description .info-title {
  text-align: right;
  font-size: 30px;
  height: auto;
}
.overlay .info-container .info-card .info-card-inner .info-description .info-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-size: 26px;
  padding-top: 15px;
  height: auto;
}
.overlay .info-container .info-card .info-card-inner .info-description a {
  display: block;
  text-decoration: none;
  color: inherit !important;
  transition: 0.2s ease-in-out all;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.overlay .info-container .info-card .info-card-inner .info-description .info-text > a > i {
  font-size: 25px;
  transition: 0.2s ease-in-out all;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}
.overlay .info-container .info-card .info-card-inner .info-description .info-text > a :hover {
  font-size: 30px;
  color: #f8b996;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}

.open-card .overlay {
  z-index: 99999999;
}
.open-card .overlay .info-container {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.open-card .overlay .info-container .info-close {
  background-color: #000;
  opacity: 0.6;
}
.open-card .overlay .info-container .info-card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
.open-card .overlay .info-container .info-card .info-btn-container {
  display: none;
}

@media screen and (max-width: 1000px) {
  .wedding-container {
    flex-direction: column;
    justify-content: center;
  }
  .wedding-container .wedding-links-wrap {
    width: 100%;
    height: 50%;
  }
  .wedding-container .wedding-links-wrap h2 a {
    font-size: 25px;
  }
  .wedding-container .wedding-links-wrap .wedding-video-link {
    height: auto;
    position: inherit;
  }
  .wedding-container .wedding-links-wrap:hover {
    width: 95%;
  }
  .wedding-container .wedding-links-wrap:hover h2 a {
    font-size: 30px;
  }
  .wedding-container .wedding-video-wrap {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  #third-img {
    display: none;
  }
  #first-img,
  #second-img {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  #second-img {
    display: none;
  }
  #first-img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */